<?xml version="1.0" encoding="utf-8"?>

<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal-nlog.txt">

    <targets>
        <target xsi:type="File" name="logfile" fileName="logs/app.log"
                layout="${longdate} | ${uppercase:${level}:padding=-5} | ${logger} | ${message} ${exception:format=tostring}" />

        <target xsi:type="DebugSystem" name="logconsole"
                layout="${longdate} | ${uppercase:${level}:padding=-5} | ${logger} | ${message} ${exception:format=tostring}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="logfile,logconsole" />
    </rules>
</nlog>